*{
  padding: 0;
  margin: 0;
  font-family: 'Red Hat Display', sans-serif;
  box-sizing: border-box;
  color: hsl(224, 23%, 55%);
}

body {
  background-color: hsl(225, 100%, 94%);
  background-image: url("/images/pattern-background-desktop.svg");
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  font-size: 16px;
  height: 680px;
}

.container { 
  margin-top: 70px;
  width: 400px;
  border-radius: 5%;
  background-color: hsl(225, 100%, 98%);
}

.people {
  width: 400px;
  border-radius: 20px 20px 0px 0px;
}

.titlebox{
  font-weight: 700;
  padding-top: 30px;
  display: center;
  justify-content: center;
}

.title{
  color: hsl(223, 47%, 23%);
  font-weight: 900;
  display: flex;
  justify-content: center;
}

.detailsbox{
  margin: 20px 50px 20px;
  align-items: center;
  justify-content: center;
}

.details{
  text-align: center;
}

.plan {
  padding: 10px;
  background-color: hsl(225, 100%, 94%, 0.2);
  border-radius:15px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 30px 50px 30px;
}

.groupPlan{
  display: flex;
  justify-content: flex-end;
}

.namePlan{
  margin-left: 20px;
}

.typePlan{
  color: hsl(223, 47%, 23%);
  font-weight: 700;
}

.change{
  color: hsl(245, 75%, 52%);
}

.change:hover{
  text-decoration: none;
  color: hsl(245, 75%, 52%, 0.6);
}

.payment{
  display: flex;
  justify-content: center;
}

.paymentButton{
  background-color: hsl(245, 75%, 52%);
  color: hsl(225, 100%, 98%);
  border: none;
  border-radius:15px;
  display:inline-block;
  cursor:pointer;  
  font-family:Arial;
  font-weight: 700;
  padding:15px 76px;
  text-decoration:none;
}

.paymentButton:hover{
  background-color: hsl(245, 75%, 52%, 0.6);
}


.cancel{
  display: flex;
  justify-content: center;
  margin: 20px;
}

.cancelOrder{
  border: none;
  display: inline-block; 
  font-family: Arial;
  font-weight: 700;
  padding: 11px 76px;
  text-decoration:none;
}

.cancel a:hover{
  color: hsl(223, 47%, 23%); 
}
.attribution{
  border-radius: 0px 0px 1px 1px;
  font-size: 11px; text-align: center;
}

.attribution a { 
  color: hsl(228, 45%, 44%); 
}

@media only screen and (max-width: 429px ) {
  .container{
    width: 90%;
  }
  .people {
    width: 99.8%; 
  }
  .plan{
    margin: 30px;
  }
}

